version: 2

multi-ecosystem-groups:
  maintenance:
    schedule:
      interval: weekly
      day: monday
      time: '06:00'

updates:
  - package-ecosystem: npm
    directory: /
    multi-ecosystem-group: maintenance

  - package-ecosystem: devcontainers
    directory: /
    multi-ecosystem-group: maintenance

  - package-ecosystem: github-actions
    directory: /
    multi-ecosystem-group: maintenance
