on:
  push:
    tags:
      - '*.*'
      - '*.*.*'
    branches:
      - '*'
  workflow_dispatch: # Manually invoked by user.

name: ci-build

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'

      - name: Install dependencies
        shell: bash
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Check
        shell: bash
        run: pnpm run check

      - name: Install playwright
        shell: bash
        run: pnpx playwright install --with-deps

      - name: Test
        shell: bash
        #run: pnpm test # TODO: Run dev full infra containers locally, seed them with data, and run tests against them. (alotta work, but worth it)
        run: pnpm test:unit

  build-container:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: test
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ./.github/actions/containerize
        with:
          registry: ghcr.io
          registry-path: ${{ github.repository_owner }}/frontend
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          push-image: ${{ github.ref_type == 'branch' && github.event_name != 'pull_request' && (github.ref_name == 'master' || github.ref_name == 'develop')  }}
