on:
  push:
    tags:
      - '*.*'
      - '*.*.*'
  workflow_dispatch: # Manually invoked by user.

name: ci-tag

env:
  NODE_VERSION: 20

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: ./.github/actions/build
        with:
          node-version: ${{ env.NODE_VERSION }}
          artifact-name: frontend

  containerize:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: ./.github/actions/containerize
        with:
          registry: ghcr.io
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          artifact-name: frontend
          push-image: true

  trigger-deployment:
    runs-on: ubuntu-latest
    needs: containerize
    environment: production

    steps:
      - name: Call deployment webhook
        shell: bash
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: |
          curl -X POST -d "" "$WEBHOOK_URL"
